
:root {
    --color-background: #F9F8FB;
    --color-title: #14132B; 
    --color-description: #989BB4;
    --color-primary: #14132B;
    --color-secondary: #FFFFFF;
    --color-accent-1: #7863F9; 
    --color-accent-2: #14132B; 
}