@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--color-background);
  padding: 24px;
}
