

#pricing-page {
    .light-text {
        color: var(--color-description);
    }

    .header {
        text-align: center;
        max-width: 244px;
        margin: auto;
        
        &__title {
            color: var(--color-title);
            margin: 0 0 1rem 0;
        }

        &__instructions {
            letter-spacing: -0.01em;
            font-weight: 400;
            line-height: 140%;
        }
    }

    .card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 414px;
        padding: 2rem;

        &__.title {
            margin: 0 0 1rem 0;
            letter-spacing: -0.03em;
            font-weight: 600;
        }
        
        &__.cost {
            display: flex;
        }

        &__.currency {
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: -0.01em;
        }

        &__.price {
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: -0.03em;
            line-height: 1em;
            color: var(--color-title);
        }

        &__.period {
            font-size: 1rem;
            align-self: flex-end;
            color: var(--color-description);
        }

        &__.features ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        &__.feature::before {
            content: '';
            width: 16px;
            height: 16px;
            display: inline-block;
            transform: translateY(4px);
            margin-right: 12px;
            background-image: url('images/list-bullet.svg');
        }

        &__.feature {
            letter-spacing: -0.01em;
            line-height: 140%;
            margin: .5em 0;
        }

        &__.feature:first-child {
            margin-top: 0;
        }

        &__.feature:last-child {
            margin-bottom: 0;
        }

        &__.button-wrapper {
            flex: 1;
            display: flex;
            align-items: flex-end;
        }

        &__.button {
            padding: 1rem 0; 
            display: block;
            width: 100%;
            border-radius: 16px;
            border: none;
            font-size: 0.875rem;
            font-weight: 600;
        }
    }
}